*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
}
.container{
    text-align: center;
}
ul{
    height: 400px;
    overflow: auto;
}
li{
    list-style: none;
    margin: 15px;
}
form{
    display: flex;
    width: 40%;
    margin: 0 auto;
    flex-direction: column;
}
textarea{
    background-color: #000;
    color: white;
    border: 3px solid red;
}
input{
    margin: 5px 0;
    background-color: #000;
    border: 3px solid yellow;
    color: #fff;
}
button{
    background-color: #000;
    color: white;
    border: 3px solid blue;
    padding: 5px;
    cursor: pointer;
}
button:hover{
    color: #000;
    background-color: #7171FF;
}